Flask
Flask-Cors
joblib
numpy
nltk
spacy
librosa
scipy
scikit-learn
speechrecognition
sounddevice
soundfile
pandas
gunicorn
pymongo
tensorflow==2.17.0
facenet_pytorch
torch
torchvision
opencv-python-headless
